@import 'colors'

ul
    list-style-type none
    margin-left 1em

img
    position absolute
    left 1em

.light
    color color-grey-2

button.btn.btn-default:hover
    background-color color-orange-2
    border-color color-orange-2